# Exercise 4.8 Grouping Data & Aggregating Variables

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import data file "orders_products_combined.pkl"
ords_prods_merge = pd.read_pickle('/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Prepared Data/orders_products_merged.pkl')

In [4]:
# Create a subset
df = ords_prods_merge[:1000000]

# Grouping Data

In [5]:
df.shape

(1000000, 21)

In [6]:
df.head(10)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_indicator,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,NaN,196,1,0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
3,3,2254736,1,4,4,7,29.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
5,5,3367565,1,6,2,7,19.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
6,6,550135,1,7,1,9,20.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
7,7,3108588,1,8,1,14,14.0,196,2,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
8,8,2295261,1,9,1,16,0.0,196,4,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
9,9,2550362,1,10,4,8,30.0,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders

# Grouping Data with pandas

In [7]:
df.groupby('product_name')

# Aggregating Data with agg()

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [9]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

# Performing Multiple Aggregations

In [10]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [12]:
# Create a loyalty flag using loc
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform("max")

In [13]:
ords_prods_merge.head(15)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,merge_indicator,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
5,5,3367565,1,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,6,550135,1,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,7,3108588,1,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
8,8,2295261,1,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,9,2550362,1,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,144,2968173,15,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,146,1870022,15,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,22
12,147,1911383,15,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,22
13,150,2715276,15,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,151,487368,15,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [14]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,merge_indicator,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,1,5,12,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
96,6137,1469869,377,3,5,17,3.0,196,9,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,6259,1927023,387,2,4,10,22.0,196,3,0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,8
98,6740,858092,420,4,1,19,30.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,6741,119314,420,5,3,19,16.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,22

In [16]:
pd.options.display.max_rows = None

# Deriving Columns with loc()

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [22]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3