In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import data file "orders"
df = pd.read_csv(r'/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Original Data/orders.csv', index_col=False)

In [3]:
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col=False)

In [4]:
# Importing data file "products"
df_prods = pd.read_csv(r'/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Original Data/products.csv', index_col=False)

In [5]:
#Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col=False)

In [7]:
# Dropping the 'eval_set' column from the DataFrame
df_ords = df_ords.drop(columns=['eval_set'])

In [8]:
# Renaming "order_dow"
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [9]:
# Importing data set department.csv
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col=False)

In [20]:
# Convert 'user_id' to a categorical variable
df_ords['user_id'] = df_ords['user_id'].astype('category')

In [21]:
# Make a copy of the DataFrame
df_ords_copy = df_ords.copy()

# Rename the variable
df_ords_copy.rename(columns={'days_since_prior_order': 'days_since_last_order'}, inplace=True)

In [25]:
# Calculate the frequency of each hour
hour_freq = df_ords['order_hour_of_day'].value_counts()

# Find the busiest hour
busiest_hour = hour_freq.idxmax()  # Get the index of the maximum frequency

print("The busiest hour for placing orders is hour", busiest_hour)

The busiest hour for placing orders is hour 10

In [29]:
df_dep_t = df_dep.T

In [30]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [31]:
# Adding an index to dataframe
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [32]:
# New header
new_header = df_dep_t.iloc[0]

In [33]:
new_header

0    department
Name: department_id, dtype: object

In [34]:
df_dep_t_new = df_dep_t[1:]

In [35]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [36]:
# New dataframe
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [37]:
# Set the header row as the df header
df_dep_t_new.columns = new_header

In [38]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [39]:
# Turn "department_id" dataframe into dictionary
data_dict = df_dep_t_new.to_dict('index')

In [40]:
data_dict
# 4 in department has produce

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [42]:
# Replace 'breakfast_department_id' with the actual department ID for breakfast items
breakfast_department_id = 14  

# Filter the DataFrame to include only breakfast items
df_breakfast = df_prods[df_prods['department_id'] == breakfast_department_id]

# Display the subset containing information about breakfast item sales
print(df_breakfast.head())

     product_id                                      product_name  aisle_id  \
27           28                                 Wheat Chex Cereal       121
33           34                                               NaN       121
67           68                           Pancake Mix, Buttermilk       130
89           90                                      Smorz Cereal       121
210         211  Gluten Free Organic Cereal Coconut Maple Vanilla       130

     department_id  prices
27              14    10.1
33              14    12.2
67              14    13.7
89              14     3.9
210             14     3.6

In [44]:
# Define a list of department IDs for dinner party items
dinner_party_department_ids = [5, 20, 7, 12]  
#These are the department IDs for alcohol, deli, beverages, and meat/seafood 

# Filter the DataFrame to include only items from the specified departments
df_dinner_party = df_prods[df_prods['department_id'].isin(dinner_party_department_ids)]

# Display the subset containing details about products for dinner parties
print(df_dinner_party.head())

    product_id                                    product_name  aisle_id  \
2            3            Robust Golden Unsweetened Oolong Tea        94
6            7                  Pure Coconut Water With Orange        98
9           10  Sparkling Orange Juice & Prickly Pear Beverage       115
10          11                               Peach Mango Juice        31
16          17                               Rendered Duck Fat        35

    department_id  prices
2               7     4.5
6               7     4.4
9               7     8.4
10              7     2.8
16             12    17.1

In [45]:
num_rows = df_dinner_party.shape[0]
print("Number of rows:", num_rows)

Number of rows: 7650

In [49]:
user_id = 1
user_info = df_ords[df_ords['user_id'] == user_id]
print(user_info)
# We can see the order frequenct, order time, order size, and order history of user_id 1

    order_id user_id order_number  orders_day_of_week  order_hour_of_day  \
0    2539329       1            1                   2                  8
1    2398795       1            2                   3                  7
2     473747       1            3                   3                 12
3    2254736       1            4                   4                  7
4     431534       1            5                   4                 15
5    3367565       1            6                   2                  7
6     550135       1            7                   1                  9
7    3108588       1            8                   1                 14
8    2295261       1            9                   1                 16
9    2550362       1           10                   4                  8
10   1187899       1           11                   4                  8

   days_since_prior_order
0                     nan
1                    15.0
2                    21.0
3                    29.0
4                    28.0
5                    19.0
6                    20.0
7                    14.0
8                     0.0
9                    30.0
10                   14.0

In [50]:
# Exporting "orders" dataframes
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [51]:
# Exporting departments dataframs
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))